
<%- include("partials/header"); -%>
    <h1>Delete Blog</h1>
    <form class="" action="/delete" method="post">
      <div class="form-group">
        <label>Enter the title to be deleted</label>
        <input class="form-control" type="text" name="postTitle">
      </div>
      <button class="btn btn-primary" type="submit" name="button">Delete</button>
    </form>

<%- include("partials/footer"); -%>
